.site-header {
  width:100%;
  z-index:999;

  &.fixed-nav {
    position:fixed;
    top:-105px;

    .site-header__nav-logo,
    .site-header__mobile-logo {
      opacity:1;
    }
  }

  &__top {
    height: 105px;
    background: #f2f2f2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
    }
  }

  &__logo {
    margin-top:12px;

    svg {
      width:250px;
      height:50px;
    }
  }

  &__nav {
    text-align: center;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;

    li, ul {
      display: inline-block;
      padding: 0;
    }
  }

  &__nav-logo,
  &__mobile-logo {
    position:absolute;
    left:20px;
    top:21px;
    transition:all .2s ease;
    opacity:0;

    svg {
      width:130px;
      height:28px;
    }
  }

  &__mobile-logo {
    top:24px;

    svg {
      width:100px;
      height:22px;
    }
  }

  &__link {
    display: inline-block;
    padding: 25px 15px 22px;
    border-bottom: 3px solid white;
    transition: all 0.3s ease;

    &:hover {
      border-bottom: 3px solid $red;
    }
  }

  &__socials {
    position: absolute;
    font-size: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .post-data {
      display: inline-block;
    }

    .social {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 50px;
      height: 100%;

      &--fb {background: #3c5b96;}
      &--tw {background: #1da1f2;}

      &:hover {
        -webkit-filter: brightness(80%);
        transition: filter .3s ease;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__search {
    display: inline-flex;
    align-items: center;
    margin-right: 15px;
    height: 100%;

    .search-icon {
      width: 15px;
      margin-left: 5px;
    }
  }

  &__mobile {
    display: none;
  }

  &__search-bar {
    background:$red;
    width:100%;
    padding:11px 30px 10px;
    display:none;
  }

  &__search-form {
    margin:0 auto;
    max-width:700px;
    font-size:0;
  }

  &__search-input {
    background:transparent;
    border:2px solid #ee5c61;
    color:#fff;
    border-radius:50px;
    width:calc(100% - 170px);
    height:40px;
    padding:0 20px;
    vertical-align:top;

    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;

    @include placeholder() {
      color:#fff;
    }
  }

  &__search-btn {
    height:40px;
    width:160px;
    margin:0;
    border-radius:50px;
    border:2px solid #fff;
    vertical-align:top;
    margin-left:10px;
    padding:0;
    color:#fff;
    background:transparent;
    @include font-size(14px);
    transition:all .2s ease;

    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;

    &:hover {
      background:#fff;
      color:#000;
    }
  }
}

//  width:1080px  //
@include breakpoint(xl) {
  .site-header {

    &__link {
      @include font-size(16px);
    }

  }
}

//  width:960px  //
@include breakpoint(l) {
  .site-header {

    &__top .button {
      display: none;
    }

    &__item {
      opacity: 0;
    }

    &__nav {
      visibility: hidden;
      max-height: 0;
      transition: all 0.5s ease;
      border-top:0;

      &.open {
        visibility: visible;
        max-height: 600px;
        transition: max-height 0.5s ease 0.1s;
      }

      &.open .site-header__item {
        opacity: 1;

        &:nth-child(1) {
          transition: opacity 0.4s 0.2s ease;
        }

        &:nth-child(2) {
          transition: opacity 0.4s 0.3s ease;
        }

        &:nth-child(3) {
          transition: opacity 0.4s 0.4s ease;
        }

        &:nth-child(4) {
          transition: opacity 0.4s 0.5s ease;
        }

        &:nth-child(5) {
          transition: opacity 0.4s 0.6s ease;
        }

        &:nth-child(6) {
          transition: opacity 0.4s 0.7s ease;
        }

        &:nth-child(7) {
          transition: opacity 0.4s 0.8s ease;
        }
      }

      &.open .site-header__socials {
        opacity: 1;
        transition: opacity 0.4s 0.9s ease;
      }

      li,
      ul {
        display: block;
      }

      a {
        @include font-size(14px);
        padding:17px 15px;
        width: 100%;
        border-bottom: 1px solid #eee;
      }
    }

    &__nav-logo {
      display:none;
    }

    &__menu {
      display: inline-block;
      vertical-align: middle;
      height: 38px;
      padding: 10px 20px;

      span {
        width: 30px;
        height: 3px;
        background: #000;
        display: inline-block;
        position: relative;
        top: 8px;
        vertical-align: top;
        transition: height 0.1s 0.3s ease;

        &::after,
        &::before {
          content: '';
          width: 30px;
          height: 3px;
          background: #000;
          display: block;
          position: relative;
          top: 4px;
          transition: top 0.3s 0.3s ease, -webkit-transform 0.3s ease, transform 0.3s ease, width 0.2s ease;
        }

        &::before {
          top: -7px;
        }
      }
    }

    &__menu.open span {
      height: 0;

      &::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.3s ease, -webkit-transform 0.3s 0.3s ease, transform 0.3s 0.3s ease;
      }

      &::after {
        top: -3px;
        transform: rotate(45deg);
        transition: top 0.3s ease, -webkit-transform 0.3s 0.3s ease, transform 0.3s 0.3s ease;
      }
    }

    &__socials {
      display: block;
      position: relative;
      font-size: 0;
      opacity: 0;

      .social {
        display: inline-block;
        width: 50%;
        height: 50px;
      }
    }

    &__mobile {
      position: relative;
      display: flex;
      height: 70px;
      align-items: center;
      justify-content: flex-end;
      background: #fff;
      border-top:1px solid #ddd;
      border-bottom:1px solid #ddd;

      .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__search {
      display: none;
    }

    &__search-icon {
      svg {
        height: 20px;
        margin-top: 4px;
      }
    }
  }
}


// 750px
@include breakpoint(m) {
  .site-header__search-bar {
    padding:11px 20px 10px;
  }
}


// 500px
@include breakpoint(xs) {
  .site-header {

    &.fixed-nav {

      .site-header__mobile .button {
        opacity:0;
        visibility:hidden;
      }
    }

    &__mobile .button {
      left: 20px;
      transform: translateY(-50%);
      transition:all .2s ease;
    }

    &__search-input {
      @include font-size(14px);
      width:calc(100% - 105px);
    }

    &__search-btn {
      @include font-size(10px);
      width:100px;
      margin-left:5px;
    }

  }
}
